## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.gtex

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# nomencl
*.nlo

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# easy-todo
*.lod

# xindy
*.xdy

# xypic precompiled matrices
*.xyc

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# Kile
*.backup

# KBibTeX
*~[0-9]*

# auto folder when using emacs and auctex
/auto/*

# expex forward references with \gathertags
*-tags.tex

# Mac .DS_Store files
.DS_Store
/.claude/
/.idea/
/.oca/
/.venv/
/minted-cache/3A8F40C4E5028998CD94FA0EC508931D.highlight.minted
/minted-cache/3FEC1039190707188794A7AF95D663B6.highlight.minted
/minted-cache/5D57FE27C8F28930BAFBB461771144DA.highlight.minted
/minted-cache/5FF71F5E0A0140CCAFC76EB4792A2AA8.highlight.minted
/minted-cache/8A8A709868A1A7C38A6D92BFEB932847.highlight.minted
/minted-cache/8D704F23547BE03F1B889DF6FBCF2638.highlight.minted
/minted-cache/9DDF810EE59886A95E41811B7B4A67A0.highlight.minted
/minted-cache/24D6DF555A340F2288E59921060C1B5B.highlight.minted
/minted-cache/25E8EE8CFA3C59F1AA8AF919D37F2640.highlight.minted
/minted-cache/45A14BF9E0432F67D9542F52A0AE1B1B.highlight.minted
/minted-cache/58C61F7DEF367DB6DE8C486CC065957E.highlight.minted
/minted-cache/289FBB2A44E4749F31903B654770EDBC.highlight.minted
/minted-cache/337CFFFABBDDEA1CDA5CA4E4C3515584.highlight.minted
/minted-cache/722B8709C44662AF0960CEA582D2802F.highlight.minted
/minted-cache/954AFD4F94011AF1995AD67D7170A349.highlight.minted
/minted-cache/2284D24D5023F5F0500E681CFD0C2B06.highlight.minted
/minted-cache/73522F5542DD79AD7AADB464D2426473.highlight.minted
/minted-cache/_2EF71E68B4AD97F630480BCEBC1842FB.index.minted
/minted-cache/ABB6B8A7E227DEF01985551EEC24F823.highlight.minted
/minted-cache/AC877D0B1634782656CEE8F9AEB12D83.highlight.minted
/minted-cache/B2EC03974C7B5CE99C523EF9DF21EF77.highlight.minted
/minted-cache/B4398174A3D7FC4AFA71E17B925E1341.highlight.minted
/minted-cache/C6BB8544DD724BBA5EB747A2C84B8FA4.highlight.minted
/minted-cache/CDF4D8C479F5393B7D846DF9C7ACBBFF.highlight.minted
/minted-cache/default.style.minted
/venv/bin/activate
/venv/bin/activate.csh
/venv/bin/activate.fish
/venv/bin/Activate.ps1
/venv/bin/pip
/venv/bin/pip3
/venv/bin/python
/venv/bin/python3
/venv/pyvenv.cfg
/scripts/javabytecode-lexer/build/lib/pygments_javabytecode/__init__.py
/scripts/javabytecode-lexer/build/lib/pygments_javabytecode/lexer.py
/scripts/javabytecode-lexer/pygments_javabytecode/lexer.py
/scripts/javabytecode-lexer/pygments_javabytecode.egg-info/dependency_links.txt
/scripts/javabytecode-lexer/pygments_javabytecode.egg-info/entry_points.txt
/scripts/javabytecode-lexer/pygments_javabytecode.egg-info/PKG-INFO
/scripts/javabytecode-lexer/pygments_javabytecode.egg-info/requires.txt
/scripts/javabytecode-lexer/pygments_javabytecode.egg-info/SOURCES.txt
/scripts/javabytecode-lexer/pygments_javabytecode.egg-info/top_level.txt
